# GRADIENT DESCENT

In [2]:

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
plt.style.use("ggplot")
%matplotlib inline

In [3]:
from pylab import rcParams
rcParams['figure.figsize'] = 12, 8

In [4]:
data = pd.read_csv("./Data/4_1_data.csv")
data.head()

     score-1    score-2  label
0  34.623660  78.024693      0
1  30.286711  43.894998      0
2  35.847409  72.902198      0
3  60.182599  86.308552      1
4  79.032736  75.344376      1

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   score-1  100 non-null    float64
 1   score-2  100 non-null    float64
 2   label    100 non-null    int64
dtypes: float64(2), int64(1)
memory usage: 2.5 KB

In [6]:
scores = data[['score-1','score-2']].values # creo un nuevo dataset que se llame scores con los valores de los dos resultados de los examenes

In [7]:
results =data['label'].values #creo el dataframe de resultado

In [9]:
aprobar = (results == 1).reshape(100,1)
suspender = (results == 0). reshape(100,1)